:root {
    --color-background: #23252c;
    --color-content-background: #1a1b21;
    --color-white: #ffffff;
    --color-light-brown: #f3bf99;
    --color-grey: #918e9b;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    color: var(--color-content-background);
    text-decoration: none;
}

a:hover {
    color: #00a0c6;
    text-decoration: none;
    cursor: pointer;
}

/* Info */
.Info--container {
    margin: 0 auto;
    max-width: 32rem;
    background-color: var(--color-content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Info--container > img {
    border-radius: 1rem;
    margin-top: 4rem;
}

.Info--name {
    color: var(--color-white);
    font-size: 25px;
    margin-top: 2rem;
}

.Info--role {
    color: var(--color-light-brown);
    font-size: 15.5px;
    margin-top: 7px;
    font-weight: 500;
}

.Info--mail-btn {
    background-color: var(--color-white);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 1.5rem;
    max-width: 80%;
    padding: 0.5rem 9rem;
    border-radius: 0.4rem;
}

.Info--mail-btn > span {
    margin-left: 1rem;
}

/* About */
.About--container {
    margin: 0 auto;
    max-width: 32rem;
    background-color: var(--color-content-background);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 3rem;
}

.About--heading {
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 3rem;
}

.About--content {
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 200;
    margin-top: 5px;
    line-height: 19px;
}

/* Interests */
.Interests--container {
    margin: 0 auto;
    max-width: 32rem;
    background-color: var(--color-content-background);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 3rem;
}

.Interests--heading {
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 3rem;
}

.Interests--content {
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 200;
    margin-top: 5px;
    line-height: 19px;
}

/* Socials */

.Socials--container {
    margin: 0 auto;
    max-width: 32rem;
    background-color: #161619;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;
    column-gap: 2rem;
}

.Socials--container i {
    color: var(--color-grey);
    font-size: 3rem;
}
